<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../api/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="main.css">
</head>
<body>
    <div class="headerBar clear">
        <div class="comWidth">
            <div class="logo fl">
                <img src="../api/static/images/header_icon.png" alt="IDEALAPPLY" />
                <span>IDEALAPPLY</span>
            </div>
            <ul class="nav fl">
                <li><a href="/index" class="active">首页</a></li>
                <li><a href="/half_diy">金牌半DIY</a></li>
                <li><a href="/doc_service">文书&服务</a></li>
                <li><a href="/teacher">导师展示</a></li>
                <li><a href="/achievement">录取榜</a></li>
                <li><a href="/join_us">加入我们</a></li>
            </ul>
            <div class="entrance fr">
                <a href="/login">登录 | </a><a href="/register">注册</a>
            </div>
        </div>
    </div>


    <div class="footerBar">
        <div class="comWidth">
            <div class="footerLogo fl">
                <img src="../api/static/images/bottom_logo.png" alt="IDEALAPPLY" />
                <p>IDEALAPPLY</p>
            </div>
            <div class="siteMap fl">
                <p class="title">站点地图</p>
                <p><a href="/index">首页</a></p>
                <p><a href="/half_diy">金牌半DIY</a></p>
                <p><a href="/doc_service">文书&服务</a></p>
                <p><a href="/teacher">导师展示</a></p>
                <p><a href="/achievement">录取榜</a></p>
                <p><a href="/join_us">加入我们</a></p>
            </div>
            <div class="contact fl">
                <p class="title">联系方式</p>
                <p>企业邮箱：service@idealapply.com</p>
                <p>客服在线时间：北京时间周一至周五9:30-23:00</p>
            </div>
            <div class="qrCodes fl">
                <div class="qrCode fl">
                    <img src="../api/static/images/qrcode_pub.png" alt="关注公众号" />
                    <p>关注公众号</p>
                </div>
                <div class="qrCode fr">
                    <img src="../api/static/images/qrcode_kefu.png" alt="微信客服" />
                    <p>微信客服</p>
                </div>
            </div>
        </div>
        <!--<div>© 2017 IDEALAPPLY. 京ICP备18025014</div>-->

    </div>
</body>
</html>
